body{
    background-color:rgb(44, 68, 44);
}
.title1{
    color:blue;
    }
p{
    color:white;
    font-size: small;
}
.a{
    color:yellow;
   }
.b{ 
    color:yellow;
}
.title2{
    color:blue;
}
.x{
    color:white;
}

.title3{
    color:blue;
}
p{
    color:white;
}
.y{
    color:white;
}
.c{
    color:red;
}
.d{
    color:red;
}
.e{
    color:red;
}
.title4{
    color:blue;
}
.h{
    color:white;
}
.s{
    color:white;
}
.title5{
    color:blue;
}
.z{
    color:white;
}